/* General section styles */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 80px 60px;
    background-color: white;
    gap: 20px;
  }

  .hero-left {
    flex: 1;
    padding: 50px 20px;
  }

  .hero-left h1 {
    font-size: 36px;
    color: #d13050;
  }

  .hero-left p {
    font-size: 18px;
    color: #333;
    line-height: 1.6; /* Ensures proper line height for wrapping */
    max-width: 400px; /* Controls the width for text wrapping */
    word-wrap: break-word;
  }

  /* Right side (Convert box) */
  .hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .convert-box {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .upload-select,
  .url-input,
  .file-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
  }

  .upload-select {
    background-color: #d13050;
    color: white;
    border: none;
  }

  .url-input {
    border: 1px solid #ccc;
  }

  .convert-button {
    background-color: #d13050;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    width: 100px;
    margin: 0 auto;
    margin-top: auto;
    cursor: pointer;
    align-self: center; /* Makes button appear at the bottom of the box */
  }

  .convert-button:hover {
    background-color: #c12846;
  }

  @media (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      text-align: center;
    }

    .convert-box {
      width: 100%;
    }

    .hero-left p {
      max-width: 100%; /* Ensures p text adjusts for smaller screens */
    }
    .hero-left h1 {
      font-size: 1.6rem;
    }
  }